body {
    background-color:cadetBlue;
    font-family:monospace;
}

h1 {
    text-align: center;
    color:cyan;
    font-size:3em;
    background-color:orange;
    border-radius:15px;
}

table {
 border-spacing:20px
}
td {
    padding-right: 30px;
    border: 1px solid black;
    padding-left: 10px;
    background-color: yellow;
    font-size:1.5em;
}

tr {
    margin-right:10px;
}

th {
    font-size:1.5em;
}

table {
    border: 1px solid black;
}
#gitTable {
    margin:auto;
}

